body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    background-color: #fff8ee;
    margin:auto;
}
.wholefood img {
    height: 600px;
}

.headercontainer {
   position: sticky;
   display: flex;
   justify-content: space-between;
   background-color: aquamarine;
   top:0;
   align-items: center;
}

.begin {
    max-width: 900px;
    margin: auto;
}

.wholefood {
    margin-left: 30px;
}
