body {
    font-family: 'Inconsolata', monospace;
    margin: 0px;
    font-size: 20px;
    margin-left:10px;
    margin-right:10px;
}

header {
    color:#0abab5;
    background-color: #fff6b9;
    position:fixed;
    margin-top:-30px;
    width:100%;
}

header h1 {
    padding-left: 15px;
}
.hero {
    margin-left: 0px;
    margin-right: 0px;
}

.begin {
    display: flex;
}

.profilepicbar {
    flex:2;
}

.profilepicbar img {
    width: 100%;
}

.ingredientsbar {
    flex:1;
}

header {
    display: flex;
    justify-content: space-between
}

.hero h1 {
    color:white;
}
